.header { 
   background-color:  white; 
   color: white; 
   height: 100px;
   position: fixed;
   top: 0;
   width: 100%;
   margin-bottom: -100px;
}
.headerIcon { 
   margin-left: 40px;  
   color: white; 
   text-transform: capitalize;
   font-size: 45;
   position: absolute;
   height: 100px;
   width: 150px;
}

.headerMenu{
	margin-top: 30px;
	float : right;
}

.btn {
	  background-color: white;
    border: none; /* Remove borders */
    color: #1a66ff; /* Add a text color */
    padding: 14px 30px; /* Add some padding */
    cursor: pointer; /* Add a pointer cursor on mouse-over */
}
.btn:hover {
  color : white;
  background-color: #7300e6;
}
.slider{
}
.nav { 
   background-color: #e6ccff; 
   color:#FFF; 
   width:25%;
   float:right;
}

.content {
   background-color: #b366ff; 
   width:75%;
   color:#FFF; 
   float:left;
}

.contentText { 
   margin-top: 20px;
   margin-left: 40px;  
   color: white; 
   font-size: 30;
}

.footer { 
	clear:both;
  background-color: #5900b3; 
  color:#FFF; 
  height: 200px;
}

.footerText{
  margin-left: 80px;
  margin-top: 20px;
  width : 300px;
  height: 100px;
  font-size: 40;
  float: left;
}
.footerBox{
  font-size: 12;
  border-left: 1px solid white;
  width: 300px;
  margin-left: 350px;
}
.footerBox1{
  font-size: 12;
  border-left: 1px solid white;
  width: 300px;
  margin-left: 650px;
  margin-top: -107px;
}

.Image_picture{
  border : 1px solid white;
	border-radius: 10px;
	background-color: white;
	width: 60%;
	height: 200px;
	margin-top: 15%;
	margin-left: 20%;
  margin-bottom: 5%;
}

.Text_image{
	background-color: #0059b3;
	text-align: center;
	width: 80%;
	height: 100px;
	margin-left: 10%;
}
.Nav_btn{
  color: white;
  text-decoration: none;
	background-color: #7e57c2;
	text-align: center;
	width: 80%;
	height: 50px;
	margin-left: 10%;
	margin-top: 1%;
  border-radius: 5px;
}

.Nav_btn:hover {
    background-color: #1a66ff;
}
.Logo{
	width: 10%;
	height:100%;
}

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  max-height: : 500px;
  margin-top: 100px;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.dotPlace{
	margin-top: -35px;

}
/* The dots/bullets/indicators */
.dot {
  /*cursor: pointer;*/
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

div.gallery {
    margin: 5px;
    border: 2px solid #ccc;
    float: left;
    width: 327px;
}

div.gallery:hover {
    border: 2px solid #1a66ff;
}

div.gallery img {
    width: 323px;
    height: 323px;
}

div.desc {
	background-color: #5900b3;
    padding: 15px;
    text-align: center;
}
div.desc:hover {
    background-color: #1a66ff;
}

#map{
  border: 1px solid black;
    float: right;
    height: 194px;
    width: 350px;
    margin-right: 105px;
    margin-top: -62px;
}

.boxLogin{
  height: 400px;
  width :350px;
  background-color: #f3e5f5;
  border-radius: 10px;
  text-align: center;
  margin-top: 100px;
  margin-left:auto;
  margin-right:auto;
}

.boxInput{
  border-radius: 10px;
  background-color: white;
  border: none;
  margin-bottom: 10px;
  height: 50px;
  width:300px;
  text-align: center;
}

.boxButton{
  background-color:#6a1b9a;
  height: 50px;
  width:300px;
  text-align: center;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  color : white;
}

